
/* <1-fold SSSSS RESET E NORMALIZZAZIONE SSSSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* </1-fold> EEEEE RESET E NORMALIZZAZIONE EEEEE */

/* <1-fold SSSSS ALL DOC CLASSES SSSSS */

/* #2-fold SSSSS SYMBOLS SSSSS */

/* #/2-fold> EEEEE SYMBOLS EEEEE */

/* #2-fold SSSSS LINKS SSSSS */

/* #/2-fold> EEEEE LINKS EEEEE */

/* #2-fold SSSSS QUOTE SSSSS */

/* #/2-fold> EEEEE QUOTE EEEEE */

/* #2-fold SSSSS BTNS SSSSS */

/* #/2-fold> EEEEE BTNS EEEEE */

/* </1-fold> EEEEE ALL DOC CLASSES EEEEE */

/* ---------------- */
/* ---------------- */
/* ----- HTML ----- */
/* ---------------- */
/* ---------------- */
/* <1-fold SSSSS HEADER SSSSS */

/* #2-fold SSSSS region SSSSS */

/* #/2-fold EEEEE endregion EEEEE */

/* </1-fold> EEEEE HEADER EEEEE */

/* ----------------------- */
/* ----------------------- */
/* ----- MEDIA QUERY ----- */
/* ----------------------- */
/* ----------------------- */

/* XS */
@media screen and (min-width: 576px) {
    /* <1-fold SSSSS HEADER SSSSS */

    /* #2-fold SSSSS region SSSSS */

    /* #/2-fold EEEEE endregion EEEEE */

    /* </1-fold> EEEEE HEADER EEEEE */
}
/* SM */
@media screen and (min-width: 768px) {
    /* <1-fold SSSSS HEADER SSSSS */

    /* #2-fold SSSSS region SSSSS */

    /* #/2-fold EEEEE endregion EEEEE */

    /* </1-fold> EEEEE HEADER EEEEE */
}
/* MD */
@media screen and (min-width: 992px) {
    /* <1-fold SSSSS HEADER SSSSS */

    /* #2-fold SSSSS region SSSSS */

    /* #/2-fold EEEEE endregion EEEEE */

    /* </1-fold> EEEEE HEADER EEEEE */
}
/* LG */
@media screen and (min-width: 1200px) {
    /* <1-fold SSSSS HEADER SSSSS */

    /* #2-fold SSSSS region SSSSS */

    /* #/2-fold EEEEE endregion EEEEE */

    /* </1-fold> EEEEE HEADER EEEEE */
}
/* XL */
